.FlowControl {}

.FlowControl--button {
  display: inline-block;
  > input {
    display: none;
  }
}

.FlowControl--button--active {
  .FlowControl--button-icon {
    background-color: $FlowForm-accent-color;
  }
}

.FlowControl--button--disabled {
  display: block;
  opacity: 0.3;
}

.FlowControl--button-icon {
  width: 1em;
  height: 1em;
  border-radius: 0.5em;
  margin: auto;
  background-color: $FlowForm-main-color;
}

.FlowControl--button-title {
  display: block;
  min-width: 3em;
  text-align: center;
  color: $FlowForm-main-color;
}
